.image-preview {
    width: 10em;
}

.pdf-preview {
    width: 60%;
}

.field-disabled {
    background-color: var(--color-background-secondary);
}

.field-enabled {
    background-color: var(--color-white);
}

#description-field {
    overflow-wrap: break-word;
}