.section-overview a {
    margin: var(--size-margin-m) 0;
    font-weight:bold;
}

.section-overview a:link,
.section-overview a:visited,
.section-overview a:active {
    color: var(--color-tertiary);
}

