.section-login {
    margin: 0, var(--size-margin-l);
    padding: 0 var(--size-padding-l);
}

.section-login label {
    margin: 0 var(--size-margin-m);
    }

.login-link a {
    color: var(--color-background-secondary);
}