.media-document object {
    width: 100%;
    height: 50em;
    padding: 0 var(--size-padding-l) 0 var(--size-padding-l);
}

.media-document p {
    padding: 0 0 0 var(--size-padding-l);
}

.media-figure img {
    max-width: 100%;
    height: auto;
    padding: var(--size-padding-l) var(--size-padding-l) 0 var(--size-padding-l);
    margin: var(--size-margin-l) 0 0 var(--size-margin-l);
    border: 2px solid var(--color-primary);
}

.media-figure figcaption {
    padding: 0 var(--size-padding-l) var(--size-padding-l) var(--size-padding-l);
}
